<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.cbs.biz.mapper.BreedingStandardParameterMapperExt" >
  <resultMap id="BaseResultMap" type="com.jaagro.cbs.api.model.BreedingStandardParameter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="standard_id" property="standardId" jdbcType="INTEGER" />
    <result column="param_name" property="paramName" jdbcType="VARCHAR" />
    <result column="day_age" property="dayAge" jdbcType="INTEGER" />
    <result column="param_type" property="paramType" jdbcType="INTEGER" />
    <result column="value_type" property="valueType" jdbcType="INTEGER" />
    <result column="lower_limit" property="lowerLimit" jdbcType="DECIMAL" />
    <result column="upper_limit" property="upperLimit" jdbcType="DECIMAL" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="alarm" property="alarm" jdbcType="BIT" />
    <result column="param_value" property="paramValue" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="necessary" property="necessary" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, standard_id, param_name, day_age, param_type, value_type, lower_limit, upper_limit, 
    unit, alarm, param_value, status, necessary, create_time, create_user_id, modify_time, 
    modify_user_id, enable
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jaagro.cbs.api.model.BreedingStandardParameterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from breeding_standard_parameter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from breeding_standard_parameter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from breeding_standard_parameter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.cbs.api.model.BreedingStandardParameter" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into breeding_standard_parameter (standard_id, param_name, day_age, 
      param_type, value_type, lower_limit, 
      upper_limit, unit, alarm, 
      param_value, status, necessary, 
      create_time, create_user_id, modify_time, 
      modify_user_id, enable)
    values (#{standardId,jdbcType=INTEGER}, #{paramName,jdbcType=VARCHAR}, #{dayAge,jdbcType=INTEGER}, 
      #{paramType,jdbcType=INTEGER}, #{valueType,jdbcType=INTEGER}, #{lowerLimit,jdbcType=DECIMAL}, 
      #{upperLimit,jdbcType=DECIMAL}, #{unit,jdbcType=VARCHAR}, #{alarm,jdbcType=BIT}, 
      #{paramValue,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{necessary,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=INTEGER}, #{enable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.cbs.api.model.BreedingStandardParameter" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into breeding_standard_parameter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="standardId != null" >
        standard_id,
      </if>
      <if test="paramName != null" >
        param_name,
      </if>
      <if test="dayAge != null" >
        day_age,
      </if>
      <if test="paramType != null" >
        param_type,
      </if>
      <if test="valueType != null" >
        value_type,
      </if>
      <if test="lowerLimit != null" >
        lower_limit,
      </if>
      <if test="upperLimit != null" >
        upper_limit,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="alarm != null" >
        alarm,
      </if>
      <if test="paramValue != null" >
        param_value,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="necessary != null" >
        necessary,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="standardId != null" >
        #{standardId,jdbcType=INTEGER},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="dayAge != null" >
        #{dayAge,jdbcType=INTEGER},
      </if>
      <if test="paramType != null" >
        #{paramType,jdbcType=INTEGER},
      </if>
      <if test="valueType != null" >
        #{valueType,jdbcType=INTEGER},
      </if>
      <if test="lowerLimit != null" >
        #{lowerLimit,jdbcType=DECIMAL},
      </if>
      <if test="upperLimit != null" >
        #{upperLimit,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="alarm != null" >
        #{alarm,jdbcType=BIT},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="necessary != null" >
        #{necessary,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jaagro.cbs.api.model.BreedingStandardParameterExample" resultType="java.lang.Integer" >
    select count(*) from breeding_standard_parameter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.cbs.api.model.BreedingStandardParameter" >
    update breeding_standard_parameter
    <set >
      <if test="standardId != null" >
        standard_id = #{standardId,jdbcType=INTEGER},
      </if>
      <if test="paramName != null" >
        param_name = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="dayAge != null" >
        day_age = #{dayAge,jdbcType=INTEGER},
      </if>
      <if test="paramType != null" >
        param_type = #{paramType,jdbcType=INTEGER},
      </if>
      <if test="valueType != null" >
        value_type = #{valueType,jdbcType=INTEGER},
      </if>
      <if test="lowerLimit != null" >
        lower_limit = #{lowerLimit,jdbcType=DECIMAL},
      </if>
      <if test="upperLimit != null" >
        upper_limit = #{upperLimit,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="alarm != null" >
        alarm = #{alarm,jdbcType=BIT},
      </if>
      <if test="paramValue != null" >
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="necessary != null" >
        necessary = #{necessary,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.cbs.api.model.BreedingStandardParameter" >
    update breeding_standard_parameter
    set standard_id = #{standardId,jdbcType=INTEGER},
      param_name = #{paramName,jdbcType=VARCHAR},
      day_age = #{dayAge,jdbcType=INTEGER},
      param_type = #{paramType,jdbcType=INTEGER},
      value_type = #{valueType,jdbcType=INTEGER},
      lower_limit = #{lowerLimit,jdbcType=DECIMAL},
      upper_limit = #{upperLimit,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=VARCHAR},
      alarm = #{alarm,jdbcType=BIT},
      param_value = #{paramValue,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      necessary = #{necessary,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      enable = #{enable,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>