<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.cbs.biz.mapper.CoopMapperExt" >
  <resultMap id="BaseResultMap" type="com.jaagro.cbs.api.model.Coop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="coop_no" property="coopNo" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="plant_id" property="plantId" jdbcType="INTEGER" />
    <result column="home_number" property="homeNumber" jdbcType="INTEGER" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="breeding_value" property="breedingValue" jdbcType="INTEGER" />
    <result column="device_quantity" property="deviceQuantity" jdbcType="INTEGER" />
    <result column="coop_status" property="coopStatus" jdbcType="INTEGER" />
    <result column="last_start_date" property="lastStartDate" jdbcType="DATE" />
    <result column="last_end_date" property="lastEndDate" jdbcType="DATE" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, coop_no, customer_id, plant_id, home_number, capacity, breeding_value, device_quantity, 
    coop_status, last_start_date, last_end_date, notes, create_time, create_user_id, 
    modify_time, modify_user_id, enable
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jaagro.cbs.api.model.CoopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from coop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from coop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.cbs.api.model.Coop" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into coop (coop_no, customer_id, plant_id, 
      home_number, capacity, breeding_value, 
      device_quantity, coop_status, last_start_date, 
      last_end_date, notes, create_time, 
      create_user_id, modify_time, modify_user_id, 
      enable)
    values (#{coopNo,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER}, #{plantId,jdbcType=INTEGER}, 
      #{homeNumber,jdbcType=INTEGER}, #{capacity,jdbcType=INTEGER}, #{breedingValue,jdbcType=INTEGER}, 
      #{deviceQuantity,jdbcType=INTEGER}, #{coopStatus,jdbcType=INTEGER}, #{lastStartDate,jdbcType=DATE}, 
      #{lastEndDate,jdbcType=DATE}, #{notes,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=INTEGER}, 
      #{enable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.cbs.api.model.Coop" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into coop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="coopNo != null" >
        coop_no,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="plantId != null" >
        plant_id,
      </if>
      <if test="homeNumber != null" >
        home_number,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="breedingValue != null" >
        breeding_value,
      </if>
      <if test="deviceQuantity != null" >
        device_quantity,
      </if>
      <if test="coopStatus != null" >
        coop_status,
      </if>
      <if test="lastStartDate != null" >
        last_start_date,
      </if>
      <if test="lastEndDate != null" >
        last_end_date,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="coopNo != null" >
        #{coopNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="plantId != null" >
        #{plantId,jdbcType=INTEGER},
      </if>
      <if test="homeNumber != null" >
        #{homeNumber,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=INTEGER},
      </if>
      <if test="breedingValue != null" >
        #{breedingValue,jdbcType=INTEGER},
      </if>
      <if test="deviceQuantity != null" >
        #{deviceQuantity,jdbcType=INTEGER},
      </if>
      <if test="coopStatus != null" >
        #{coopStatus,jdbcType=INTEGER},
      </if>
      <if test="lastStartDate != null" >
        #{lastStartDate,jdbcType=DATE},
      </if>
      <if test="lastEndDate != null" >
        #{lastEndDate,jdbcType=DATE},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jaagro.cbs.api.model.CoopExample" resultType="java.lang.Integer" >
    select count(*) from coop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.cbs.api.model.Coop" >
    update coop
    <set >
      <if test="coopNo != null" >
        coop_no = #{coopNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="plantId != null" >
        plant_id = #{plantId,jdbcType=INTEGER},
      </if>
      <if test="homeNumber != null" >
        home_number = #{homeNumber,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=INTEGER},
      </if>
      <if test="breedingValue != null" >
        breeding_value = #{breedingValue,jdbcType=INTEGER},
      </if>
      <if test="deviceQuantity != null" >
        device_quantity = #{deviceQuantity,jdbcType=INTEGER},
      </if>
      <if test="coopStatus != null" >
        coop_status = #{coopStatus,jdbcType=INTEGER},
      </if>
      <if test="lastStartDate != null" >
        last_start_date = #{lastStartDate,jdbcType=DATE},
      </if>
      <if test="lastEndDate != null" >
        last_end_date = #{lastEndDate,jdbcType=DATE},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.cbs.api.model.Coop" >
    update coop
    set coop_no = #{coopNo,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      plant_id = #{plantId,jdbcType=INTEGER},
      home_number = #{homeNumber,jdbcType=INTEGER},
      capacity = #{capacity,jdbcType=INTEGER},
      breeding_value = #{breedingValue,jdbcType=INTEGER},
      device_quantity = #{deviceQuantity,jdbcType=INTEGER},
      coop_status = #{coopStatus,jdbcType=INTEGER},
      last_start_date = #{lastStartDate,jdbcType=DATE},
      last_end_date = #{lastEndDate,jdbcType=DATE},
      notes = #{notes,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      enable = #{enable,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>